In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies = pd.read_csv(r"C:\Users\deepa\Downloads\IMDB_data_movies.csv")

In [3]:
movies.head()

,title,certificate,duration,genre,rating,stars,votes
0,1.Citadel(2023– ),UA 16+,NaN,"Action, Drama, Thriller",6.3,"[' Richard Madden, Priyanka Cho...","9,195"
1,2.Sweet Tooth(2021– ),16,50 min,"Action, Adventure, Drama",7.8,"[' Nonso Anozie, Christian Conv...","58,856"
2,3.The Mandalorian(2019– ),U,40 min,"Action, Adventure, Fantasy",8.7,"[' Pedro Pascal, Chris Bartlett...","5,41,537"
3,4.Barry(2018–2023),15+,30 min,"Action, Comedy, Crime",8.4,"[' Bill Hader, Stephen Root, Sa...","94,033"
4,5.The Night Agent(2023– ),UA 16+,45 min,"Action, Drama, Thriller",7.5,"[' Gabriel Basso, Luciane Bucha...","68,313"

In [4]:
movies['title'] = movies['title'].str.split('(').str[0].str.strip()

In [5]:
movies.head(5)

,title,certificate,duration,genre,rating,stars,votes
0,1.Citadel,UA 16+,NaN,"Action, Drama, Thriller",6.3,"[' Richard Madden, Priyanka Cho...","9,195"
1,2.Sweet Tooth,16,50 min,"Action, Adventure, Drama",7.8,"[' Nonso Anozie, Christian Conv...","58,856"
2,3.The Mandalorian,U,40 min,"Action, Adventure, Fantasy",8.7,"[' Pedro Pascal, Chris Bartlett...","5,41,537"
3,4.Barry,15+,30 min,"Action, Comedy, Crime",8.4,"[' Bill Hader, Stephen Root, Sa...","94,033"
4,5.The Night Agent,UA 16+,45 min,"Action, Drama, Thriller",7.5,"[' Gabriel Basso, Luciane Bucha...","68,313"

In [6]:
movies['title'] = movies['title'].str.split('.').str[1].str.split('(').str[0].str.strip()

In [7]:
movies.head(5)

,title,certificate,duration,genre,rating,stars,votes
0,Citadel,UA 16+,NaN,"Action, Drama, Thriller",6.3,"[' Richard Madden, Priyanka Cho...","9,195"
1,Sweet Tooth,16,50 min,"Action, Adventure, Drama",7.8,"[' Nonso Anozie, Christian Conv...","58,856"
2,The Mandalorian,U,40 min,"Action, Adventure, Fantasy",8.7,"[' Pedro Pascal, Chris Bartlett...","5,41,537"
3,Barry,15+,30 min,"Action, Comedy, Crime",8.4,"[' Bill Hader, Stephen Root, Sa...","94,033"
4,The Night Agent,UA 16+,45 min,"Action, Drama, Thriller",7.5,"[' Gabriel Basso, Luciane Bucha...","68,313"

In [8]:
movies['title'].nunique()

9602

In [9]:
movies['title'] = movies['title'].drop_duplicates()

In [10]:
movies.shape

(9950, 7)

In [11]:
movies.isnull().sum()

title           348
certificate    9171
duration       4907
genre             0
rating         3553
stars             0
votes          3553
dtype: int64

In [12]:
movies = movies.dropna(subset=['title', 'duration', 'rating'])

In [13]:
movies.shape

(4198, 7)

In [14]:
movies.isnull().sum()

title             0
certificate    3531
duration          0
genre             0
rating            0
stars             0
votes             0
dtype: int64

In [15]:
movies.drop('certificate',axis=1,inplace=True)

In [16]:
movies.head()

,title,duration,genre,rating,stars,votes
1,Sweet Tooth,50 min,"Action, Adventure, Drama",7.8,"[' Nonso Anozie, Christian Conv...","58,856"
2,The Mandalorian,40 min,"Action, Adventure, Fantasy",8.7,"[' Pedro Pascal, Chris Bartlett...","5,41,537"
3,Barry,30 min,"Action, Comedy, Crime",8.4,"[' Bill Hader, Stephen Root, Sa...","94,033"
4,The Night Agent,45 min,"Action, Drama, Thriller",7.5,"[' Gabriel Basso, Luciane Bucha...","68,313"
5,The Rookie,43 min,"Action, Crime, Drama",8.0,"["" Nathan Fillion, Alyssa Diaz,...","48,599"

In [17]:
movies.stars

1       ['                Nonso Anozie, Christian Conv...
2       ['                Pedro Pascal, Chris Bartlett...
3       ['                Bill Hader, Stephen Root, Sa...
4       ['                Gabriel Basso, Luciane Bucha...
5       ["                Nathan Fillion, Alyssa Diaz,...
                              ...
9907          ['                Aaron Yonda, Matt Sloan']
9923    ['                Jaiden Marchetti, Ryder Lewe...
9925    ['                Masaki Nakao, Miki Yanagi, S...
9929    ['                Jon Bailey, Abby Trott, Fran...
9938    ['                Dusan Szabo, Ivan Martinka, ...
Name: stars, Length: 4198, dtype: object

In [18]:
import re

# Replace the unwanted characters with an empty string
movies['stars'] = movies['stars'].replace(r'[:\[\]\s]+', '', regex=True)

In [19]:
movies.head()

,title,duration,genre,rating,stars,votes
1,Sweet Tooth,50 min,"Action, Adventure, Drama",7.8,"'NonsoAnozie,ChristianConvery,AdeelAkhtar,Stef...","58,856"
2,The Mandalorian,40 min,"Action, Adventure, Fantasy",8.7,"'PedroPascal,ChrisBartlett,KateeSackhoff,CarlW...","5,41,537"
3,Barry,30 min,"Action, Comedy, Crime",8.4,"'BillHader,StephenRoot,SarahGoldberg,AnthonyCa...","94,033"
4,The Night Agent,45 min,"Action, Drama, Thriller",7.5,"'GabrielBasso,LucianeBuchanan,FolaEvans-Akingb...","68,313"
5,The Rookie,43 min,"Action, Crime, Drama",8.0,"""NathanFillion,AlyssaDiaz,RichardT.Jones,Melis...","48,599"

In [20]:
import re

# Remove quotes marks from the stars column
movies['stars'] = movies['stars'].replace(r'[\'"]', '', regex=True)

In [21]:
movies['rating'] = movies['rating'].astype('float')

In [22]:
movies['votes'] = movies['votes'].str.replace(',', '')

In [23]:
movies['votes'] = movies['votes'].astype('int')

In [24]:
from datetime import timedelta, datetime

movies['duration'] = pd.to_timedelta(movies['duration'].replace(' min', ':00'))

In [25]:
movies.isnull().sum()

title       0
duration    0
genre       0
rating      0
stars       0
votes       0
dtype: int64

In [26]:
movies.head()

,title,duration,genre,rating,stars,votes
1,Sweet Tooth,0 days 00:50:00,"Action, Adventure, Drama",7.8,"NonsoAnozie,ChristianConvery,AdeelAkhtar,Stefa...",58856
2,The Mandalorian,0 days 00:40:00,"Action, Adventure, Fantasy",8.7,"PedroPascal,ChrisBartlett,KateeSackhoff,CarlWe...",541537
3,Barry,0 days 00:30:00,"Action, Comedy, Crime",8.4,"BillHader,StephenRoot,SarahGoldberg,AnthonyCar...",94033
4,The Night Agent,0 days 00:45:00,"Action, Drama, Thriller",7.5,"GabrielBasso,LucianeBuchanan,FolaEvans-Akingbo...",68313
5,The Rookie,0 days 00:43:00,"Action, Crime, Drama",8.0,"NathanFillion,AlyssaDiaz,RichardT.Jones,Meliss...",48599

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from scipy.sparse import hstack

In [28]:
scaler = MinMaxScaler()
movies['duration_scaled'] = scaler.fit_transform(movies['duration'].values.reshape(-1, 1))
movies['rating_scaled'] = scaler.fit_transform(movies['rating'].values.reshape(-1, 1))
movies['votes_scaled'] = scaler.fit_transform(movies['votes'].values.reshape(-1, 1))

In [29]:
# Vectorize the genre and star columns
cv = CountVectorizer(max_features=5000, stop_words='english', binary=True)
genre_vectorized = cv.fit_transform(movies['genre'])
star_vectorized = cv.fit_transform(movies['stars'])

In [30]:
# Combine the vectorized features with the scaled features
combined_features = hstack([genre_vectorized, star_vectorized,
                            movies['duration_scaled'].values.reshape(-1, 1),
                            movies['rating_scaled'].values.reshape(-1, 1),
                            movies['votes_scaled'].values.reshape(-1, 1)])

In [31]:
combined_features

<4198x5031 sparse matrix of type '<class 'numpy.float64'>'
	with 34833 stored elements in COOrdinate format>

In [32]:
similarity_matrix = cosine_similarity(combined_features)

In [33]:
def get_top_recommendations(movie_title, top_n=5):
    movie_index = movies[movies['title'] == movie_title].index[0]
    similar_movies_indices = similarity_matrix[movie_index].argsort()[::-1][1:top_n+1]
    similar_movies = movies.iloc[similar_movies_indices]['title']
    return similar_movies

In [34]:
top_recommendations = get_top_recommendations('Barry', top_n=5)
print(top_recommendations)

1414                        Deutschland 86
3600                             Bronx SIU
2284    Aftershock: Earthquake in New York
126                       SAS Rogue Heroes
53                               Jack Ryan
Name: title, dtype: object

In [38]:
# Function to search for movies
def search_movies(query):
    search_results = movies[movies['title'].str.contains(query, case=False)]
    return search_results

# Example usage
search_query = input("Enter a movie title to search: ")
search_results = search_movies(search_query)
if not search_results.empty:
    top_recommendations = get_top_recommendations(search_results.iloc[0]['title'], top_n=5)
    print("Top recommendations:")
    print(top_recommendations)
else:
    print("No movies found matching the search query.")

Enter a movie title to search: jack ryan
Top recommendations:
3256       Star Wars: Underworld
3461    Tomica Hero Rescue Force
2153            Kamen raidâ Kûga
2758          Kamen raidâ Kabuto
369         Legend of the Seeker
Name: title, dtype: object